<% @page_title = "Rare Books & Special Collections" %>
<div class="eight columns push-four cbody">

            <!-- InstanceBeginEditable name="pg-title" -->
            <h2>Rare Books &amp; Special Collections</h2>
            <!-- InstanceEndEditable --><!-- InstanceBeginEditable name="right-column-content" -->
            <p>The Department of Rare Books and Special Collections includes more than 175,000 volumes of printed books and periodicals, manuscript holdings ranging from medieval codices to collections dating from the late twentieth century, and various other format materials including printed ephemera, maps, newspapers, numismatic and philatelic items. Below you will find links to descriptive information about some of the highlights of the department's collections.</p>

            <h3>Primary Collection Strengths<br>
              <br>
              </h3>

            <div class="row">
            <div class="six columns">
            <ul class="nodot">
              <li class="menu-text"><div class="menu-icon"><a href="http://rarebooks.library.nd.edu/collections/us_history/index.shtml"><img src="http://rarebooks.library.nd.edu/collections/images/collthumb-us_hist.jpg" alt="US History thumbnail." width="50" height="50"></a></div> <a href="http://rarebooks.library.nd.edu/collections/us_history/index.shtml">US History &amp; Culture</a></li>
              <li class="menu-text"><div class="menu-icon"><a href="http://rarebooks.library.nd.edu/collections/irish_studies/index.shtml"><img src="http://rarebooks.library.nd.edu/collections/images/collthumb-irish.jpg" alt="Irish Studies thumbnail." width="50" height="50"></a></div> <a href="http://rarebooks.library.nd.edu/collections/irish_studies/index.shtml">Irish Studies</a></li>
              <li class="menu-text"><div class="menu-icon"><a href="http://rarebooks.library.nd.edu/collections/latin_american/index.shtml"><img src="http://rarebooks.library.nd.edu/collections/images/collthumb-latam.jpg" alt="Latin American Studies thumbnail." width="50" height="50"></a></div> <a href="http://rarebooks.library.nd.edu/collections/latin_american/index.shtml">Latin American Studies</a></li>
              <li class="menu-text"><div class="menu-icon"><a href="http://rarebooks.library.nd.edu/collections/science/index.shtml"><img src="http://rarebooks.library.nd.edu/collections/images/collthumb-science.jpg" alt="Natural History thumbnail." width="50" height="50"></a></div> <a href="http://rarebooks.library.nd.edu/collections/science/index.shtml">Natural Science, Natural History &amp; Medicine</a></li>
              <li class="menu-text"><div class="menu-icon"><a href="http://rarebooks.library.nd.edu/collections/theology/index.shtml"><img src="http://rarebooks.library.nd.edu/collections/images/collthumb-theology.jpg" alt="Theology thumbnail." width="50" height="50"></a></div> <a href="http://rarebooks.library.nd.edu/collections/theology/index.shtml">Theology &amp; Church History</a></li>
              <li class="menu-text"><div class="menu-icon"><a href="http://rarebooks.library.nd.edu/collections/american_catholic/index.shtml"><img src="http://rarebooks.library.nd.edu/collections/images/collthumb-amer_cath.jpg" alt="American Catholic Studies thumbnail." width="50" height="50"></a></div> <a href="http://rarebooks.library.nd.edu/collections/american_catholic/index.shtml">American Catholic Studies Collections</a></li>
            </ul>
            </div>
            <div class="six columns">
              <ul class="nodot">
                <li class="menu-text"><div class="menu-icon"><a href="http://rarebooks.library.nd.edu/collections/italian_lit/index.shtml"><img src="http://rarebooks.library.nd.edu/collections/images/collthumb-italian.jpg" alt="Italian Literature thumbnail." width="50" height="50"></a></div> <a href="http://rarebooks.library.nd.edu/collections/italian_lit/index.shtml">Italian Literature</a></li>
                <li class="menu-text"><div class="menu-icon"><a href="http://rarebooks.library.nd.edu/collections/fine_printing/index.shtml"><img src="http://rarebooks.library.nd.edu/collections/images/collthumb-fineprint.jpg" alt="Fine Printing &amp; Book Arts thumbnail." width="50" height="50"></a></div> <a href="http://rarebooks.library.nd.edu/collections/fine_printing/index.shtml">Fine Printing &amp; Book Arts</a></li>
                <li class="menu-text"><div class="menu-icon"><a href="http://rarebooks.library.nd.edu/collections/medieval/index.shtml"><img src="http://rarebooks.library.nd.edu/collections/images/collthumb-medieval.jpg" alt="Medieval &amp; Renaissance thumbnail." width="50" height="50"></a></div> <a href="http://rarebooks.library.nd.edu/collections/medieval/index.shtml">Medieval &amp; Renaissance</a></li>
                <li class="menu-text"><div class="menu-icon"><a href="http://rarebooks.library.nd.edu/collections/modern_european/index.shtml"><img src="http://rarebooks.library.nd.edu/collections/images/collthumb-modern_euro.jpg" alt="Modern European Cultures thumbnail." width="50" height="50"></a></div> <a href="modern_european/index.shtml">Modern European Cultures</a></li>
                <li class="menu-text"><div class="menu-icon"><a href="http://rarebooks.library.nd.edu/collections/russian-east_european/index.shtml"><img src="http://rarebooks.library.nd.edu/collections/images/collthumb-ree.jpg" alt="Russian &amp; East European Studies thumbnail." width="50" height="50"></a></div> <a href="http://rarebooks.library.nd.edu/collections/russian-east_european/index.shtml">Russian &amp; East European Studies</a></li>
                <li class="menu-text"><div class="menu-icon"><a href="http://rarebooks.library.nd.edu/collections/sports/index.shtml"><img src="http://rarebooks.library.nd.edu/collections/images/collthumb-sports.jpg" alt="Sports Research thumbnail." width="50" height="50"></a></div> <a href="http://rarebooks.library.nd.edu/collections/sports/index.shtml">Sports Research</a></li>
                <li class="menu-text"><div class="menu-icon"><a href="http://rarebooks.library.nd.edu/collections/numismatics/index.shtml"><img src="http://rarebooks.library.nd.edu/collections/images/collthumb-numismatics.jpg" alt="Numismatics thumbnail." width="50" height="50"></a></div>
                <a href="http://rarebooks.library.nd.edu/collections/numismatics/index.shtml">Numismatics</a></li>
              </ul>
              </div>
            </div>

            <!-- <h3><br>
            Other Special Collections at Notre Dame</h3>

            <p class="ui-state-error">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur m.</p> -->
            <!-- InstanceEndEditable --></div>
        <!--<div class="two columns push-four" id="additional">
            <h3>Additional Info Column</h3>
        </div>-->
        <div class="four columns pull-eight" id="sidebar"><a href="" name="contents"></a>
        <div class="submenu"></div>
        <!-- InstanceBeginEditable name="left-column-content" -->
