
<div class="eight columns push-four cbody">

            <!-- InstanceBeginEditable name="pg-title" -->
            <h2>Rare Books &amp; Special Collections</h2>
            <!-- InstanceEndEditable --><!-- InstanceBeginEditable name="right-column-content" -->
            <p>The Department of Rare Books and Special Collections is located on <a href="http://www.library.nd.edu/about/maps/first.shtml" target="new">the main floor</a> of <a href="http://www.library.nd.edu/about/maps/locations.shtml" target="new">the Hesburgh Library</a> at the University of Notre Dame in northern Indiana. Holdings include more than 175,000 volumes of printed books and periodicals, manuscript holdings ranging from medieval codices to collections dating from the late twentieth century, and various other format materials including printed ephemera, maps, newspapers, numismatic and philatelic items.</p>
            <p>The Department is open to students, faculty, visiting researchers, and members of the community Monday through Friday from 9am-5pm (closed weekends and major holidays).</p>

            <div id="accordion" class="sections">
              <h3><a href="/collections/index.shtml">Collections</a></h3>
              <div class="content">
                <ul>
                  <li><a href="/collections/us_history/index.shtml">US History &amp; Culture</a></li>
                  <li><a href="/collections/irish_studies/index.shtml">Irish Studies</a></li>
                  <li><a href="/collections/latin_american/index.shtml">Latin American Studies</a></li>
                  <li><a href="/collections/science/index.shtml">Natural Science, Natural History &amp; Medicine</a></li>
                  <li><a href="/collections/theology/index.shtml">Theology &amp; Church History</a></li>
                  <li><a href="/collections/american_catholic/index.shtml">American Catholic Studies</a></li>
                  <li><a href="/collections/italian_lit/index.shtml">Italian Literature</a></li>
                  <li><a href="/collections/fine_printing/index.shtml">Fine Printing &amp; Book Arts</a></li>
                  <li><a href="/collections/medieval/index.shtml">Medieval &amp; Renaissance Culture</a></li>
                  <li><a href="/collections/modern_european/index.shtml">Modern European Cultures</a></li>
                  <li><a href="/collections/russian-east_european/index.shtml">Russian &amp; East European Studies</a></li>
                  <li><a href="/collections/sports/index.shtml">Sports Research</a></li>
                  <li><a href="/collections/numismatics/index.shtml">Numismatics</a></li>
                </ul>
              </div>

              <h3><a href="/finding/index.shtml">Finding Materials</a></h3>
              <div class="content">
                <ul>
                  <li><a href="/finding/books.shtml">Books and Periodicals</a></li>
                  <li><a href="/finding/manuscripts/index.shtml">Manuscripts</a></li>
                  <li><a href="/finding/ephemera.shtml">Printed Ephemera</a></li>
                  <li><a href="/finding/maps.shtml">Maps</a></li>
                  <li><a href="/finding/newspapers.shtml">Newspapers</a></li>
                  <li><a href="/collections/numismatics/index.shtml">Numismatics</a></li>
                  <li><a href="/finding/philatelic.shtml">Philatelic</a></li>
                </ul>
                <ul>
                  <li><a href="http://rbsc.library.nd.edu/" target="_blank">List of Online Finding Aids</a></li>
                </ul>
              </div>

              <h3><a href="/using/index.shtml">Using Materials</a></h3>
              <div class="content">
                <ul>
                  <li><a href="/using/access.shtml">Access to Materials</a></li>
                  <li><a href="/using/duplication.shtml">Duplication Policy</a></li>
                  <li><a href="/exhibits/instruction.shtml">Class instruction </a></li>
                </ul>
              </div>

            </div>
            <!-- InstanceEndEditable --></div>
        <!--<div class="two columns push-four" id="additional">
            <h3>Additional Info Column</h3>
        </div>-->
        <div class="four columns pull-eight" id="sidebar"><a href="" name="contents"></a>
        <div class="submenu"></div>
        <!-- InstanceBeginEditable name="left-column-content" -->
          <div class="featured">
            <!--<h3>Current Exhibit</h3>
            <a href="/exhibits/index.shtml"><img src="http://rarebooks.library.nd.edu/exhibits/images/1314ii-Creeley-tall.jpg"></a>
            <p align="center"><a href="/exhibits/index.shtml"><em>Robert Creeley's Library:<br>
            The Poet's Books as Art Museum and Network of Communications</em></a></p>-->
            <h3>News &amp; Events</h3>
  <!--#include virtual="/ssi/carousel.shtml" -->
  <%= rarebooks_include_ssi("/ssi/carousel.shtml") %>
        </div>
