<div class="inner-right">
  <div id="gallerycs">
    <a href="http://rarebooks.library.nd.edu/exhibits/index.shtml" target="">
      <img src="http://library.nd.edu/local_images/spotlight/tir.jpg">
      <span></span>
    </a>
    <!--<a href="http://library.nd.edu/instruction/workshops/" target="_blank">
      <img src="http://library.nd.edu/local_images/spotlight/junior.png">
      <span></span>
    </a>
    <a href="http://library.nd.edu/instruction/workshops/" target="_blank">
      <img src="http://library.nd.edu/local_images/spotlight/stc2013.png">
      <span></span>
    </a>-->
    <!--<a href="http://eresources.library.nd.edu/databases/silentfilm " target="_blank">
      <img src="http://library.nd.edu/local_images/spotlight/silent-film-online.jpg">
      <span></span>
    </a>-->
    <a href="http://library.nd.edu/browzine/?utm_source=carousel&utm_medium=web&utm_content=hesburgh&utm_campaign=browzine" target="">
      <img src="http://library.nd.edu/local_images/spotlight/browzine-carousel.jpg">
      <span></span>
    </a>
    <!-- <a href="http://library.nd.edu/documents/ABOUT_MID_AUTUMN_FESTIVAL_FINAL.pdf" target="">
      <img src="http://library.nd.edu/local_images/spotlight/mid-autumn.png">
      <span></span>
    </a> -->
    <a href="http://eresources.library.nd.edu/databases_docs/hathitrust_FAQ.shtml" target="">
      <img src="http://library.nd.edu/local_images/spotlight/hathi-trust.png">
      <span></span>
    </a>
    <a href="http://library.nd.edu/help/proxy.shtml" target="">
      <img src="http://library.nd.edu/local_images/spotlight/ProxyIt.jpg">
      <span></span>
    </a>
    <!-- <a href="http://m.library.nd.edu" target="">
      <img src="http://library.nd.edu/local_images/spotlight/mobile.png">
      <span></span>
    </a>-->
    <a href="/cds" target="">
      <img src="http://library.nd.edu/local_images/spotlight/cds.jpg">
      <span></span>
    </a>
    <a href="http://50years.library.nd.edu" target="">
      <img src="http://library.nd.edu/local_images/spotlight/50.jpg">
      <span></span>
    </a>
    <a href="https://reserves.library.nd.edu" target="">
      <img src="http://library.nd.edu/local_images/spotlight/reserves.2.png">
    </a>
  </div>

  <div id="hours">
    <div id="todays-hours">
      <div id="hrs">
        <div class="hours">
          <h5>Fall Semester Hours</h5>

          <dl class="dl-horizontal">
            <dt>Monday - Thursday</dt>
            <dd>Open 24 hours*</dd>
            <dt>Friday</dt>
            <dd>Open till 11pm</dd>
            <dt>Saturday</dt>
            <dd>9am - 11pm</dd>
            <dt>Sunday</dt>
            <dd>Open at 10am</dd>
          </dl>
          <p>Phone: (574) 631-6679</p>

          <p>Concourse opens early on weekends for Au Bon Pain Cafe.</p>
        </div>

        <hr>
        <h4><a href="/about/hours/">Hesburgh Service Desks</a></h4>

        <div class="hours">
          <h4><a href="http://food.nd.edu/places-to-eat/hours-of-operation/" target="_blank">Au Bon Pain Cafe</a></h4>
          <p class="dates">Concourse opens early on weekends for Cafe.</p>
        </div>

        <p><a href="" data-reveal-id="hoursp">24 Hour Access Procedures</a></p>

      </div>
    </div>
  </div>
</div>
