<div id="hoursp" class="reveal-modal large">
  <h2>24 Hour Access Procedures</h2>
  <p>At 10:00pm Sunday night through Thursday night the doors to the library will be locked and access will only be through the east and west concourse doors using a swipe reader. You must swipe your card and enter your pin. Your pin is the month and date of your birth. Upon doing this the doors will release for approximately 8 seconds to allow access or you can press the handicap button which will allow the doors to open.</p>
  <p>At 7:00am Monday through Friday the doors will be unlocked and the swipe card reader will be disabled.</p>
  <p>The swipe card system is only set up for NDID’s. SMC, HC, and Bethel students must call 631-6350 and the security monitor will come and check ID’s and allow access.</p>
</div>

<div id="acceptable-use" class="reveal-modal large">
  <h2>Acceptable use policy</h2>
  <p>Access to these resources is governed by license agreements which restrict use to the Notre Dame community and to individuals who use the Notre Dame Libraries' facilities. It is the responsibility of each user to ensure that he or she uses these products only for individual, noncommercial use without systematically downloading, distributing, or retaining substantial portions of information. Acceptable use forbids downloading contents of entire issues of a given journal title. The use of software such as scripts, agents, or robots, is generally prohibited and may result in loss of access to these resources for the entire Notre Dame community.</p>
  <p>Specific license terms detailing permitted and prohibited users of electronic resources may be obtained by contacting <a href="mailto:erhelp@listserv.nd.edu">ER Help</a> (erhelp@listserv.nd.edu).</p>
  <p> Please see the <a href="http://www.nd.edu/copyright/" target="_blank">ND Copyright Policies Web page</a> for more information on the creation and use of copyrighted materials at Notre Dame.</p>

</div>

<div id="art" class="reveal-modal large">

    <h2>About finding articles</h2>
    <p class="indent2p">If you are searching for articles, start with QuickSearch. This resource searches articles in a handful of librarian-selected general databases. For more complete results, search in specific article databases, which typically specialize in a subject area.</p>
    <p>For lists of article databases, see <a href="/find_articles/index.shtml#tab_tad" target="_blank">Most used article databases</a> or <a href="/ddw/public/subject-all-dbs.cgi" target="_blank">Article databases by subject</a>.</p>


</div>

<div id="cat" class="reveal-modal large">

    <h2>About the ND Catalog</h2>
    <p>The ND catalog contains records for books, journals, maps, DVDs, etc. owned or licensed by the University.  It does not include articles.  The Kresge Law Library has its own <a href="http://law.nd.edu/library-and-technology">catalog</a>.</p>
    <p>For items not owned or licensed by Notre Dame, see <a href="http://eresources.library.nd.edu/databases/worldcat">WorldCat</a>, a catalog of thousands of libraries. You can borrow many items owned by other libraries through <a href="/ill/">Interlibrary Loan</a>.</p>
</div>

<div id="catplus" class="reveal-modal large">

    <h2>About ND Catalog</h2>
    <p>ND Catalog lets you search the holdings of the Hesburgh Libraries, Kresge Law, Saint Mary's, Bethel, and Holy Cross libraries’ catalogs separately or together.  It will include content currently not in the ND catalog such as items in the University Archives,  the Center for Research Libraries, and working papers from the Institute for Latino Studies.  It provides enhanced functionality such as:</p>
    <ul class="circle">
      <li>Improved relevance of search results</li>
      <li>Real time availability information</li>
      <li>Faceted browse</li>
      <li>"Did you mean?" prompts for misspelled searches</li>
    </ul>

</div>

<div id="dat" class="reveal-modal large">

    <h2>About finding Databases</h2>
    <p>The Database finder is the fastest way to find databases such as JSTOR, Academic Search Premier, PsycInfo.</p>
    <p>The Database finder lets you search by words in the database's title or description.</p>
</div>

<div id="ebooks" class="reveal-modal large">

    <h2>About e-Books</h2>
    <p>The e-Book search finds e-books in Hesburgh Libraries, Kresge Law, Saint Mary's, Bethel, and Holy Cross.</p>
</div>

<div id="images" class="reveal-modal large">

  <body class="about_tabs">
    <h2>About Art images</h2>
    <p>A good way to find images is to search image databases. Image databases such as ARTStor and Oxford art online offer search options that can help with complex searches.</p>
</div>

<div id="jou" class="reveal-modal large">

    <h2>About finding eJournals</h2>
    <p>Find eJournals by all or part of the eJournal's title. The <a href="http://ejl.library.nd.edu" target="_top">eJournal search</a> lets you:</p>
    <ul>
      <li>browse for eJournals' titles by letter of the alphabet or by category</li>
      <li>search for all journals (not just electronic journals)</li>
      <li>find eJournals in eJournal collections, which group eJournals by subject or provider</li>
    </ul>

</div>

<div id="onesearch" class="reveal-modal large">

    <h2>About OneSearch</h2>
    <p>OneSearch lets you find academic journal articles along with books, movies, music and other library materials. This search includes a broad selection of articles from a wide variety of subjects. The library materials include Hesburgh Libraries, Kresge Law Library, and other nearby libraries where Notre Dame students, faculty and staff have borrowing privileges. See <a href="https://library.nd.edu/campus_only/onesearch/activation_list.shtml" target="_top">Resources in OneSearch</a> for details.<!--See here for a list of OneSearch Sources.--></p>

    <h3>Other Search Options</h3>
    <p>For more focused results, search in specific article databases, which typically specialize in a subject area; see <a href="http://library.nd.edu/find_articles/index.shtml#tab_tad">Most used article databases</a> or <a href="http://library.nd.edu/ddw/public/subject-all-dbs.cgi">Article databases by subject</a>.</p>


</div>

<div id="reserves" class="reveal-modal large">

    <h2>About the Course Reserves search</h2>
    <p>The Course Reserves search lets you find print materials that have been placed on Course Reserve.  Search by instructor, course abbreviation or number, or keyword.  For example:
    <ul>
      <li><em>Buccellato</em></li>
      <li><em>ARCH 41121</em></li>
      <li><em>westfall palladio</em></li>
    </ul>
    </p>
</div>

<div id="website" class="reveal-modal large">

    <h2>About searching the Libraries' Website</h2>
    <p>The Website search lets you find people, resources, and services in the Libraries' website.</p>

</div>
