<h1>Header 1</h1>
<h2>Header 2</h2>
<h3>Header 3</h3>
<h4>Header 4</h4>
<h5>Header 5</h5>
<h6>Header 6</h6>

<div class="row">
  <div class="twelve columns">
    
      <p>Quisque a risus sit amet sapien sollicitudin dignissim et vel nibh. Maecenas nec faucibus nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nisi dolor, vehicula eu accumsan nec, <a href="#">a link</a> ornare eu nulla. In eu leo nunc. Aliquam sed tempor orci. Donec nec risus quam, tempus facilisis arcu. Nam ullamcorper elementum felis id tristique. Donec in metus metus, vel malesuada metus. Sed metus tortor, ornare sed consectetur non, adipiscing ut arcu.</p>

      <p>Aenean auctor, leo nec auctor fermentum, velit dui ullamcorper magna, ut rhoncus velit turpis <strong>bolded</strong>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam metus, venenatis pharetra eleifend sed, molestie nec leo. Morbi mauris tellus, imperdiet nec venenatis eget, pulvinar nec ante. Suspendisse ut dui nibh. Nunc quam mauris, ornare <em>italic text</em> vitae, aliquet eu ipsum. Sed odio risus, pellentesque id lacinia in, vestibulum sit amet diam. Proin tempus ultrices leo non sollicitudin. Fusce libero urna, mattis sit amet volutpat sit amet, varius ut lectus. </p>
      <ol>
        <li>Ordered</li> 
        <li>List</li>
        <li>of </li>
        <li>Items</li>
      </ol>

      <ul>
        <li>Unordered</li> 
        <li>List</li>
        <li>of </li>
        <li>Items</li>
      </ul>
  </div>
</div>


<h3>Tabs</h3>
<dl class="tabs contained">
  <dd><a href="#simple1" class="active">Simple Tab 1</a></dd>
  <dd><a href="#simple2">Simple Tab 2</a></dd>
  <dd><a href="#simple3">Simple Tab 3</a></dd>
</dl>

<ul class="tabs-content contained">
  <li class="active" id="simple1Tab">
    <code>
      &lt;dl class="tabs contained"&gt;<br>
        &lt;dd&gt;&lt;a href="#simple1" class="active"&gt;Simple Tab 1&lt;/a&gt;&lt;/dd&gt;<br>
        &lt;dd&gt;&lt;a href="#simple2"&gt;Simple Tab 2&lt;/a&gt;&lt;/dd&gt;<br>
      &lt;/dl&gt;<br>
      &lt;ul class="tabs-content contained"&gt;<br>
        &lt;li class="active" id="simple1Tab"&gt;This is simple tab 1's content. Pretty neat, huh?&lt;/li&gt;<br>
        &lt;li id="simple2Tab"&gt;This is simple tab 2's content. Now you see it!&lt;/li&gt;<br>
      &lt;/ul&gt;
    </code>
  </li>
  <li id="simple2Tab">This is simple tab 2's content. Now you see it!</li>
  <li id="simple3Tab">This is simple tab 3's content. It's, you know...okay.</li>
</ul>

<h3>Sidebars</h3>

<div class="box">Sidebar box <code>&lt;div class="box"&gt;</code></div>
<div class="box yellow">Yellow sidebar box <code>&lt;div class="box yellow"&gt;</code></div>
<h3>Modal Window</h3>

<pre class="prettyprint">
&lt;div id="myModal" class="reveal-modal"&gt;
&lt;p&gt;Modal Content&lt;/p&gt;
&lt;/div&gt;
&lt;a href="#" data-reveal-id="myModal"&gt;Click&lt;/a&gt;</pre>


<p><a href="#" class="button" data-reveal-id="myModal">Click Me For A Modal</a></p>
<div id="myModal" class="reveal-modal">
    <h2>The Modal Window!</h2>
    <p class="lead">This is a lead paragraph.</p>
    <p>Im a cool paragraph that lives inside of an even cooler modal. Wins</p>
    <a class="close-reveal-modal">&#215;</a>
</div>
        