<div class="row find-resources">
    <div data-target="http://localhost:3005/1.0/resources/search/blended.json?q=stoppard" class="six columns search-container search-blended" id="blendedSearchContainer">
  <fieldset>
    <legend>OneSearch</legend>
    <p class="more"><a class="search-link" href="http://onesearch.library.nd.edu/primo_library/libweb/action/dlSearch.do?bulkSize=10&amp;institution=NDU&amp;onCampus=true&amp;query=any%2Ccontains%2Cstoppard&amp;search_scope=malc_blended&amp;tab=onesearch&amp;vid=NDU&amp;vl%28freeText0%29=stoppard&amp;highlight=true&amp;displayField=title&amp;displayField=creator&amp;loc=local%2Cscope%3A%28NDU%29%2Cscope%3A%28BCI%29%2Cscope%3A%28HCC%29%2Cscope%3A%28SMC%29%2Cscope%3A%28NDLAW%29%2Cprimo_central_multiple_fe&amp;indx=1">See all results &gt;</a></p>
    <p>Showing 1 - <span class="results-count">10</span> of <span class="total-count">7,112</span> for search: '<span class="search-term">stoppard</span>'. </p>
    <div class="search-results"><div class="record record-newspaper_article" id="blendedSearchContainer-TN_gale_ofa245667317">
  <div class="cover">
    <div class="cover-image thumbnail"></div>
    <div class="cover-type">Newspaper article</div>
  </div>
  <div class="summary">
    <h2 class="title"><a href="http://onesearch.library.nd.edu/primo_library/libweb/action/dlDisplay.do?bulkSize=10&amp;institution=NDU&amp;onCampus=true&amp;query=any%2Ccontains%2Cstoppard&amp;search_scope=malc_blended&amp;tab=onesearch&amp;vid=NDU&amp;vl%28freeText0%29=stoppard&amp;highlight=true&amp;displayField=title&amp;displayField=creator&amp;loc=adaptor%2Cprimo_central_multiple_fe&amp;docId=TN_gale_ofa245667317&amp;indx=1">Stoppard play 'Arcadia' next up in a string of British exports.(Tom Stoppard)(Column)</a></h2>
    <h3 class="author">Farley, Christopher John</h3>
    <p class="details">The Wall Street Journal Eastern Edition, Jan 3, 2011, Vol.0(0), p.B4(1)</p>
    <p class="publisher">Cengage Learning, Inc.</p>
    <p class="availability">
      <span class="availability-library"></span>
      <span class="availability-text available">Online access available</span>
      <span class="availability-link"><a href="http://findtext.library.nd.edu:8889/ndu_local?ctx_enc=info%3Aofi%2Fenc%3AUTF-8&amp;ctx_tim=2013-05-06T16%3A40%3A28EDT&amp;ctx_ver=Z39.88-2004&amp;rft.atitle=Stoppard+play+%27Arcadia%27+next+up+in+a+string+of+British+exports.%28Tom+Stoppard%29%28Column%29&amp;rft.au=Farley%2C+Christopher+John&amp;rft.date=20110103&amp;rft.genre=unknown&amp;rft.issn=0099-9660&amp;rft.issue=0&amp;rft.jtitle=The+Wall+Street+Journal+Eastern+Edition&amp;rft.pub=Dow+Jones+%26+Company%2C+Inc.&amp;rft.spage=B4&amp;rft.volume=0" target="_blank">Access Online</a></span>
    </p>
  </div>
</div><div class="record record-book" id="blendedSearchContainer-ndu_aleph003395592">
  <div class="cover">
    <div class="cover-image thumbnail"><img src="http://bks1.books.google.com/books?id=EOmctdtlBeIC&amp;printsec=frontcover&amp;img=1&amp;zoom=5&amp;edge=curl"></div>
    <div class="cover-type">Book</div>
  </div>
  <div class="summary">
    <h2 class="title"><a href="http://onesearch.library.nd.edu/primo_library/libweb/action/dlDisplay.do?bulkSize=10&amp;institution=NDU&amp;onCampus=true&amp;query=any%2Ccontains%2Cstoppard&amp;search_scope=malc_blended&amp;tab=onesearch&amp;vid=NDU&amp;vl%28freeText0%29=stoppard&amp;highlight=true&amp;displayField=title&amp;displayField=creator&amp;loc=adaptor%2Cprimo_central_multiple_fe&amp;docId=ndu_aleph003395592&amp;indx=2">The Cambridge introduction to Tom Stoppard</a></h2>
    <h3 class="author">William W. Demastes</h3>
    <p class="details"></p>
    <p class="publisher">Cambridge, England ; New York : Cambridge University Press 2012, c2013</p>
    <p class="availability">
      <span class="availability-library">Notre Dame, Hesburgh Library General Collection (PR 6069 .T6 Z617 2013 )</span>
      <span class="availability-text available">Available</span>
      <span class="availability-link"></span>
    </p>
  </div>
</div><div class="record record-article" id="blendedSearchContainer-TN_gale_ofa280206400">
  <div class="cover">
    <div class="cover-image thumbnail"></div>
    <div class="cover-type">Article</div>
  </div>
  <div class="summary">
    <h2 class="title"><a href="http://onesearch.library.nd.edu/primo_library/libweb/action/dlDisplay.do?bulkSize=10&amp;institution=NDU&amp;onCampus=true&amp;query=any%2Ccontains%2Cstoppard&amp;search_scope=malc_blended&amp;tab=onesearch&amp;vid=NDU&amp;vl%28freeText0%29=stoppard&amp;highlight=true&amp;displayField=title&amp;displayField=creator&amp;loc=adaptor%2Cprimo_central_multiple_fe&amp;docId=TN_gale_ofa280206400&amp;indx=3">Long live human mystery.(LETTER OF THE WEEK)(Letter to the editor)</a></h2>
    <h3 class="author">Stoppard, Tom</h3>
    <p class="details">New Statesman (1996), Jan 16, 2012, Vol.141(5088), p.6(1)</p>
    <p class="publisher">Cengage Learning, Inc.</p>
    <p class="availability">
      <span class="availability-library"></span>
      <span class="availability-text available">Online access available</span>
      <span class="availability-link"><a href="http://findtext.library.nd.edu:8889/ndu_local?ctx_enc=info%3Aofi%2Fenc%3AUTF-8&amp;ctx_tim=2013-05-06T16%3A40%3A28EDT&amp;ctx_ver=Z39.88-2004&amp;rft.atitle=Long+live+human+mystery.%28LETTER+OF+THE+WEEK%29%28Letter+to+the+editor%29&amp;rft.au=Stoppard%2C+Tom&amp;rft.date=20120116&amp;rft.genre=article&amp;rft.issn=1364-7431&amp;rft.issue=5088&amp;rft.jtitle=New+Statesman+%281996%29&amp;rft.pub=New+Statesman%2C+Ltd.&amp;rft.spage=6&amp;rft.volume=141" target="_blank">Access Online</a></span>
    </p>
  </div>
</div><div class="record record-book" id="blendedSearchContainer-dedupmrg14883953">
  <div class="cover">
    <div class="cover-image thumbnail"><img src="http://bks5.books.google.com/books?id=RWCYII2jrGgC&amp;printsec=frontcover&amp;img=1&amp;zoom=5&amp;edge=curl"></div>
    <div class="cover-type">Book</div>
  </div>
  <div class="summary">
    <h2 class="title"><a href="http://onesearch.library.nd.edu/primo_library/libweb/action/dlDisplay.do?bulkSize=10&amp;institution=NDU&amp;onCampus=true&amp;query=any%2Ccontains%2Cstoppard&amp;search_scope=malc_blended&amp;tab=onesearch&amp;vid=NDU&amp;vl%28freeText0%29=stoppard&amp;highlight=true&amp;displayField=title&amp;displayField=creator&amp;loc=adaptor%2Cprimo_central_multiple_fe&amp;docId=dedupmrg14883953&amp;indx=4">The Cambridge companion to Tom Stoppard</a></h2>
    <h3 class="author">Katherine E. Kelly 1947-</h3>
    <p class="details"></p>
    <p class="publisher">Cambridge, U.K. ; New York : Cambridge University Press 2001</p>
    <p class="availability">
      <span class="availability-library">Notre Dame, Hesburgh Library General Collection (PR 6069 .T6 Z615 2001 )</span>
      <span class="availability-text available">Available</span>
      <span class="availability-link"><a href="http://proxy.library.nd.edu./login?url=http://cco.cambridge.org/book?id=ccol0521641780_CCOL0521641780" target="_blank">Access Online</a></span>
    </p>
  </div>
</div><div class="record record-book" id="blendedSearchContainer-ndu_aleph001345648">
  <div class="cover">
    <div class="cover-image thumbnail"><img src="http://bks3.books.google.com/books?id=PubwLmgAcd0C&amp;printsec=frontcover&amp;img=1&amp;zoom=5&amp;edge=curl"></div>
    <div class="cover-type">Book</div>
  </div>
  <div class="summary">
    <h2 class="title"><a href="http://onesearch.library.nd.edu/primo_library/libweb/action/dlDisplay.do?bulkSize=10&amp;institution=NDU&amp;onCampus=true&amp;query=any%2Ccontains%2Cstoppard&amp;search_scope=malc_blended&amp;tab=onesearch&amp;vid=NDU&amp;vl%28freeText0%29=stoppard&amp;highlight=true&amp;displayField=title&amp;displayField=creator&amp;loc=adaptor%2Cprimo_central_multiple_fe&amp;docId=ndu_aleph001345648&amp;indx=5">Tom Stoppard in conversation</a></h2>
    <h3 class="author">Tom Stoppard Paul Delaney 1948-</h3>
    <p class="details"></p>
    <p class="publisher">Ann Arbor : University of Michigan Press c1994</p>
    <p class="availability">
      <span class="availability-library">Notre Dame, Hesburgh Library General Collection (PR 6069 .T6 Z47 1994 )</span>
      <span class="availability-text available">Available</span>
      <span class="availability-link"></span>
    </p>
  </div>
</div><div class="record record-article" id="blendedSearchContainer-TN_gale_ofa224104565">
  <div class="cover">
    <div class="cover-image thumbnail"></div>
    <div class="cover-type">Article</div>
  </div>
  <div class="summary">
    <h2 class="title"><a href="http://onesearch.library.nd.edu/primo_library/libweb/action/dlDisplay.do?bulkSize=10&amp;institution=NDU&amp;onCampus=true&amp;query=any%2Ccontains%2Cstoppard&amp;search_scope=malc_blended&amp;tab=onesearch&amp;vid=NDU&amp;vl%28freeText0%29=stoppard&amp;highlight=true&amp;displayField=title&amp;displayField=creator&amp;loc=adaptor%2Cprimo_central_multiple_fe&amp;docId=TN_gale_ofa224104565&amp;indx=6">Win a pair of top-price tickets.(THE REAL THING)</a></h2>
    <h3 class="author">Stoppard, Tom</h3>
    <p class="details">New Statesman (1996), March 22, 2010, Vol.139(4993), p.45(1)</p>
    <p class="publisher">Cengage Learning, Inc.</p>
    <p class="availability">
      <span class="availability-library"></span>
      <span class="availability-text available">Online access available</span>
      <span class="availability-link"><a href="http://findtext.library.nd.edu:8889/ndu_local?ctx_enc=info%3Aofi%2Fenc%3AUTF-8&amp;ctx_tim=2013-05-06T16%3A40%3A28EDT&amp;ctx_ver=Z39.88-2004&amp;rft.atitle=Win+a+pair+of+top-price+tickets.%28THE+REAL+THING%29&amp;rft.au=Stoppard%2C+Tom&amp;rft.date=20100322&amp;rft.genre=article&amp;rft.issn=1364-7431&amp;rft.issue=4993&amp;rft.jtitle=New+Statesman+%281996%29&amp;rft.pub=New+Statesman%2C+Ltd.&amp;rft.spage=45&amp;rft.volume=139" target="_blank">Access Online</a></span>
    </p>
  </div>
</div><div class="record record-book" id="blendedSearchContainer-TN_mla2013306033">
  <div class="cover">
    <div class="cover-image thumbnail"></div>
    <div class="cover-type">Book</div>
  </div>
  <div class="summary">
    <h2 class="title"><a href="http://onesearch.library.nd.edu/primo_library/libweb/action/dlDisplay.do?bulkSize=10&amp;institution=NDU&amp;onCampus=true&amp;query=any%2Ccontains%2Cstoppard&amp;search_scope=malc_blended&amp;tab=onesearch&amp;vid=NDU&amp;vl%28freeText0%29=stoppard&amp;highlight=true&amp;displayField=title&amp;displayField=creator&amp;loc=adaptor%2Cprimo_central_multiple_fe&amp;docId=TN_mla2013306033&amp;indx=7">The Cambridge Introduction to Tom Stoppard</a></h2>
    <h3 class="author">Demastes, William</h3>
    <p class="details"></p>
    <p class="publisher">Cambridge, England: Cambridge UP 2012</p>
    <p class="availability">
      <span class="availability-library"></span>
      <span class="availability-text">See FindText for options</span>
      <span class="availability-link"><a href="http://findtext.library.nd.edu:8889/ndu_local?ctx_enc=info%3Aofi%2Fenc%3AUTF-8&amp;ctx_tim=2013-05-06T16%3A40%3A28EDT&amp;ctx_ver=Z39.88-2004&amp;rft.au=Demastes%2C+William&amp;rft.btitle=The+Cambridge+Introduction+to+Tom+Stoppard&amp;rft.date=2012&amp;rft.genre=book&amp;rft.isbn=9781107021952+%28hbk.%29--9781107606128+%28pbk.%29&amp;rft.pages=ix%2C+166+pp.&amp;rft.pub=Cambridge+UP" target="_blank">FindText</a></span>
    </p>
  </div>
</div><div class="record record-dissertation" id="blendedSearchContainer-TN_mla2011422131">
  <div class="cover">
    <div class="cover-image thumbnail"></div>
    <div class="cover-type">Dissertation</div>
  </div>
  <div class="summary">
    <h2 class="title"><a href="http://onesearch.library.nd.edu/primo_library/libweb/action/dlDisplay.do?bulkSize=10&amp;institution=NDU&amp;onCampus=true&amp;query=any%2Ccontains%2Cstoppard&amp;search_scope=malc_blended&amp;tab=onesearch&amp;vid=NDU&amp;vl%28freeText0%29=stoppard&amp;highlight=true&amp;displayField=title&amp;displayField=creator&amp;loc=adaptor%2Cprimo_central_multiple_fe&amp;docId=TN_mla2011422131&amp;indx=8">Radio Texts: The Broadcast Drama of Orson Wellles, Dylan Thomas, Samuel Beckett, and Tom Stoppard</a></h2>
    <h3 class="author">Jesson, James Rosyln</h3>
    <p class="details">Dissertation Abstracts International, Section A: The Humanities and Social Sciences, 2011 May, Vol.71(11), p.4020</p>
    <p class="publisher">MLA International Bibliography<img style="vertical-align:middle;margin-left:7px" src="http://exlibris-pub.s3.amazonaws.com/mlalogo_001.jpg"></p>
    <p class="availability">
      <span class="availability-library"></span>
      <span class="availability-text available">Online access available</span>
      <span class="availability-link"><a href="http://findtext.library.nd.edu:8889/ndu_local?ctx_enc=info%3Aofi%2Fenc%3AUTF-8&amp;ctx_tim=2013-05-06T16%3A40%3A28EDT&amp;ctx_ver=Z39.88-2004&amp;rft.atitle=Radio+Texts%3A+The+Broadcast+Drama+of+Orson+Wellles%2C+Dylan+Thomas%2C+Samuel+Beckett%2C+and+Tom+Stoppard&amp;rft.au=Jesson%2C+James+Rosyln&amp;rft.date=2011&amp;rft.genre=dissertation&amp;rft.issn=0419-4209&amp;rft.issue=11&amp;rft.jtitle=Dissertation+Abstracts+International%2C+Section+A%3A+The+Humanities+and+Social+Sciences&amp;rft.spage=4020&amp;rft.volume=71" target="_blank">Access Online</a></span>
    </p>
  </div>
</div><div class="record record-article" id="blendedSearchContainer-TN_gale_ofa90340844">
  <div class="cover">
    <div class="cover-image thumbnail"></div>
    <div class="cover-type">Article</div>
  </div>
  <div class="summary">
    <h2 class="title"><a href="http://onesearch.library.nd.edu/primo_library/libweb/action/dlDisplay.do?bulkSize=10&amp;institution=NDU&amp;onCampus=true&amp;query=any%2Ccontains%2Cstoppard&amp;search_scope=malc_blended&amp;tab=onesearch&amp;vid=NDU&amp;vl%28freeText0%29=stoppard&amp;highlight=true&amp;displayField=title&amp;displayField=creator&amp;loc=adaptor%2Cprimo_central_multiple_fe&amp;docId=TN_gale_ofa90340844&amp;indx=9">Coming ashore; Tom Stoppard.('The Coast of Utopia')(Brief Article)</a></h2>
    <h3 class="author"></h3>
    <p class="details">The Economist (US), August 10, 2002</p>
    <p class="publisher">Cengage Learning, Inc.</p>
    <p class="availability">
      <span class="availability-library"></span>
      <span class="availability-text available">Online access available</span>
      <span class="availability-link"><a href="http://findtext.library.nd.edu:8889/ndu_local?ctx_enc=info%3Aofi%2Fenc%3AUTF-8&amp;ctx_tim=2013-05-06T16%3A40%3A28EDT&amp;ctx_ver=Z39.88-2004&amp;rft.atitle=Coming+ashore%3B+Tom+Stoppard.%28%27The+Coast+of+Utopia%27%29%28Brief+Article%29&amp;rft.date=20020810&amp;rft.genre=article&amp;rft.issn=0013-0613&amp;rft.jtitle=The+Economist+%28US%29&amp;rft.pub=Economist+Newspaper+Ltd." target="_blank">Access Online</a></span>
    </p>
  </div>
</div><div class="record record-article" id="blendedSearchContainer-TN_mla2007302258">
  <div class="cover">
    <div class="cover-image thumbnail"></div>
    <div class="cover-type">Article</div>
  </div>
  <div class="summary">
    <h2 class="title"><a href="http://onesearch.library.nd.edu/primo_library/libweb/action/dlDisplay.do?bulkSize=10&amp;institution=NDU&amp;onCampus=true&amp;query=any%2Ccontains%2Cstoppard&amp;search_scope=malc_blended&amp;tab=onesearch&amp;vid=NDU&amp;vl%28freeText0%29=stoppard&amp;highlight=true&amp;displayField=title&amp;displayField=creator&amp;loc=adaptor%2Cprimo_central_multiple_fe&amp;docId=TN_mla2007302258&amp;indx=10">Stoppard's Revolutionary Thinking</a></h2>
    <h3 class="author">Klein, Julia M.</h3>
    <p class="details">Chronicle of Higher Education, 2006 Nov 17, Vol.53(13), pp.B15-B16</p>
    <p class="publisher">MLA International Bibliography<img style="vertical-align:middle;margin-left:7px" src="http://exlibris-pub.s3.amazonaws.com/mlalogo_001.jpg"></p>
    <p class="availability">
      <span class="availability-library"></span>
      <span class="availability-text available">Online access available</span>
      <span class="availability-link"><a href="http://findtext.library.nd.edu:8889/ndu_local?ctx_enc=info%3Aofi%2Fenc%3AUTF-8&amp;ctx_tim=2013-05-06T16%3A40%3A28EDT&amp;ctx_ver=Z39.88-2004&amp;rft.atitle=Stoppard%27s+Revolutionary+Thinking&amp;rft.au=Klein%2C+Julia+M.&amp;rft.date=2006&amp;rft.epage=B16&amp;rft.genre=article&amp;rft.issn=0009-5982&amp;rft.issue=13&amp;rft.jtitle=Chronicle+of+Higher+Education&amp;rft.spage=B15&amp;rft.volume=53" target="_blank">Access Online</a></span>
    </p>
  </div>
</div></div>
    <p class="more"><a class="search-link" href="http://onesearch.library.nd.edu/primo_library/libweb/action/dlSearch.do?bulkSize=10&amp;institution=NDU&amp;onCampus=true&amp;query=any%2Ccontains%2Cstoppard&amp;search_scope=malc_blended&amp;tab=onesearch&amp;vid=NDU&amp;vl%28freeText0%29=stoppard&amp;highlight=true&amp;displayField=title&amp;displayField=creator&amp;loc=local%2Cscope%3A%28NDU%29%2Cscope%3A%28BCI%29%2Cscope%3A%28HCC%29%2Cscope%3A%28SMC%29%2Cscope%3A%28NDLAW%29%2Cprimo_central_multiple_fe&amp;indx=1">See all results &gt;</a></p>
  </fieldset>
</div>

    <div data-target="http://localhost:3005/1.0/resources/search/catalog.json?q=stoppard" class="six columns search-container search-catalog" id="catalogSearchContainer">
  <fieldset>
    <legend>ND Catalog</legend>
    <p class="more"><a class="search-link" href="http://onesearch.library.nd.edu/primo_library/libweb/action/dlSearch.do?bulkSize=10&amp;institution=NDU&amp;loc=local%2Cscope%3A%28ndulawrestricted%29%2Cscope%3A%28dtlrestricted%29%2Cscope%3A%28NDU%29%2Cscope%3A%28NDLAW%29%2Cscope%3A%28ndu_digitool%29&amp;onCampus=true&amp;query=any%2Ccontains%2Cstoppard&amp;search_scope=nd_campus&amp;tab=nd_campus&amp;vid=NDU&amp;vl%28freeText0%29=stoppard&amp;highlight=true&amp;displayField=title&amp;displayField=creator&amp;indx=1">See all results &gt;</a></p>
    <p>Showing 1 - <span class="results-count">10</span> of <span class="total-count">131</span> for search: '<span class="search-term">stoppard</span>'. </p>
    <div class="search-results"><div class="record record-book" id="catalogSearchContainer-ndu_aleph003395592">
  <div class="cover">
    <div class="cover-image thumbnail"><img src="http://bks1.books.google.com/books?id=EOmctdtlBeIC&amp;printsec=frontcover&amp;img=1&amp;zoom=5&amp;edge=curl"></div>
    <div class="cover-type">Book</div>
  </div>
  <div class="summary">
    <h2 class="title"><a href="http://onesearch.library.nd.edu/primo_library/libweb/action/dlDisplay.do?bulkSize=10&amp;institution=NDU&amp;loc=local%2Cscope%3A%28ndulawrestricted%29%2Cscope%3A%28dtlrestricted%29%2Cscope%3A%28NDU%29%2Cscope%3A%28NDLAW%29%2Cscope%3A%28ndu_digitool%29&amp;onCampus=true&amp;query=any%2Ccontains%2Cstoppard&amp;search_scope=nd_campus&amp;tab=nd_campus&amp;vid=NDU&amp;vl%28freeText0%29=stoppard&amp;highlight=true&amp;displayField=title&amp;displayField=creator&amp;docId=ndu_aleph003395592&amp;indx=1">The Cambridge introduction to Tom Stoppard</a></h2>
    <h3 class="author">William W. Demastes</h3>
    <p class="details"></p>
    <p class="publisher">Cambridge, England ; New York : Cambridge University Press 2012, c2013</p>
    <p class="availability">
      <span class="availability-library">Notre Dame, Hesburgh Library General Collection (PR 6069 .T6 Z617 2013 )</span>
      <span class="availability-text available">Available</span>
      <span class="availability-link"></span>
    </p>
  </div>
</div><div class="record record-book" id="catalogSearchContainer-dedupmrg14883953">
  <div class="cover">
    <div class="cover-image thumbnail"><img src="http://bks5.books.google.com/books?id=RWCYII2jrGgC&amp;printsec=frontcover&amp;img=1&amp;zoom=5&amp;edge=curl"></div>
    <div class="cover-type">Book</div>
  </div>
  <div class="summary">
    <h2 class="title"><a href="http://onesearch.library.nd.edu/primo_library/libweb/action/dlDisplay.do?bulkSize=10&amp;institution=NDU&amp;loc=local%2Cscope%3A%28ndulawrestricted%29%2Cscope%3A%28dtlrestricted%29%2Cscope%3A%28NDU%29%2Cscope%3A%28NDLAW%29%2Cscope%3A%28ndu_digitool%29&amp;onCampus=true&amp;query=any%2Ccontains%2Cstoppard&amp;search_scope=nd_campus&amp;tab=nd_campus&amp;vid=NDU&amp;vl%28freeText0%29=stoppard&amp;highlight=true&amp;displayField=title&amp;displayField=creator&amp;docId=dedupmrg14883953&amp;indx=2">The Cambridge companion to Tom Stoppard</a></h2>
    <h3 class="author">Katherine E. Kelly 1947-</h3>
    <p class="details"></p>
    <p class="publisher">Cambridge, U.K. ; New York : Cambridge University Press 2001</p>
    <p class="availability">
      <span class="availability-library">Notre Dame, Hesburgh Library General Collection (PR 6069 .T6 Z615 2001 )</span>
      <span class="availability-text available">Available</span>
      <span class="availability-link"><a href="http://proxy.library.nd.edu./login?url=http://cco.cambridge.org/book?id=ccol0521641780_CCOL0521641780" target="_blank">Access Online</a></span>
    </p>
  </div>
</div><div class="record record-book" id="catalogSearchContainer-ndu_aleph001345648">
  <div class="cover">
    <div class="cover-image thumbnail"><img src="http://bks3.books.google.com/books?id=PubwLmgAcd0C&amp;printsec=frontcover&amp;img=1&amp;zoom=5&amp;edge=curl"></div>
    <div class="cover-type">Book</div>
  </div>
  <div class="summary">
    <h2 class="title"><a href="http://onesearch.library.nd.edu/primo_library/libweb/action/dlDisplay.do?bulkSize=10&amp;institution=NDU&amp;loc=local%2Cscope%3A%28ndulawrestricted%29%2Cscope%3A%28dtlrestricted%29%2Cscope%3A%28NDU%29%2Cscope%3A%28NDLAW%29%2Cscope%3A%28ndu_digitool%29&amp;onCampus=true&amp;query=any%2Ccontains%2Cstoppard&amp;search_scope=nd_campus&amp;tab=nd_campus&amp;vid=NDU&amp;vl%28freeText0%29=stoppard&amp;highlight=true&amp;displayField=title&amp;displayField=creator&amp;docId=ndu_aleph001345648&amp;indx=3">Tom Stoppard in conversation</a></h2>
    <h3 class="author">Tom Stoppard Paul Delaney 1948-</h3>
    <p class="details"></p>
    <p class="publisher">Ann Arbor : University of Michigan Press c1994</p>
    <p class="availability">
      <span class="availability-library">Notre Dame, Hesburgh Library General Collection (PR 6069 .T6 Z47 1994 )</span>
      <span class="availability-text available">Available</span>
      <span class="availability-link"></span>
    </p>
  </div>
</div><div class="record record-book" id="catalogSearchContainer-ndu_aleph001359083">
  <div class="cover">
    <div class="cover-image thumbnail"><img src="http://bks1.books.google.com/books?id=8OtfQgAACAAJ&amp;printsec=frontcover&amp;img=1&amp;zoom=5"></div>
    <div class="cover-type">Book</div>
  </div>
  <div class="summary">
    <h2 class="title"><a href="http://onesearch.library.nd.edu/primo_library/libweb/action/dlDisplay.do?bulkSize=10&amp;institution=NDU&amp;loc=local%2Cscope%3A%28ndulawrestricted%29%2Cscope%3A%28dtlrestricted%29%2Cscope%3A%28NDU%29%2Cscope%3A%28NDLAW%29%2Cscope%3A%28ndu_digitool%29&amp;onCampus=true&amp;query=any%2Ccontains%2Cstoppard&amp;search_scope=nd_campus&amp;tab=nd_campus&amp;vid=NDU&amp;vl%28freeText0%29=stoppard&amp;highlight=true&amp;displayField=title&amp;displayField=creator&amp;docId=ndu_aleph001359083&amp;indx=4">Conversations with Stoppard</a></h2>
    <h3 class="author">Tom Stoppard Mel Gussow</h3>
    <p class="details"></p>
    <p class="publisher">New York : Limelight Editions 1995</p>
    <p class="availability">
      <span class="availability-library">Notre Dame, Hesburgh Library General Collection (PR 6069 .T6 Z464 1995 )</span>
      <span class="availability-text available">Available</span>
      <span class="availability-link"></span>
    </p>
  </div>
</div><div class="record record-audio" id="catalogSearchContainer-ndu_aleph002845148">
  <div class="cover">
    <div class="cover-image thumbnail"></div>
    <div class="cover-type">Audio</div>
  </div>
  <div class="summary">
    <h2 class="title"><a href="http://onesearch.library.nd.edu/primo_library/libweb/action/dlDisplay.do?bulkSize=10&amp;institution=NDU&amp;loc=local%2Cscope%3A%28ndulawrestricted%29%2Cscope%3A%28dtlrestricted%29%2Cscope%3A%28NDU%29%2Cscope%3A%28NDLAW%29%2Cscope%3A%28ndu_digitool%29&amp;onCampus=true&amp;query=any%2Ccontains%2Cstoppard&amp;search_scope=nd_campus&amp;tab=nd_campus&amp;vid=NDU&amp;vl%28freeText0%29=stoppard&amp;highlight=true&amp;displayField=title&amp;displayField=creator&amp;docId=ndu_aleph002845148&amp;indx=5">The real thing</a></h2>
    <h3 class="author">Tom Stoppard author. Andrea Bowen 1990- performer. Matt Gaydos performer. Carolyn Seymour performer. Simon Templeman performer. Douglas Weston performer. Joanne Whalley 1964- performer. Matthew Wolf 1972-, performer. Rosalind Ayres director.</h3>
    <p class="details"></p>
    <p class="publisher">Los Angeles, Calif. : L.A. Theatre Works 2009</p>
    <p class="availability">
      <span class="availability-library"></span>
      <span class="availability-text available">Online access available</span>
      <span class="availability-link"><a href="http://proxy.library.nd.edu/login?url=http://www.aspresolver.com/aspresolver.asp?RADR;908170" target="_blank">Access Online</a></span>
    </p>
  </div>
</div><div class="record record-audio" id="catalogSearchContainer-ndu_aleph002845149">
  <div class="cover">
    <div class="cover-image thumbnail"></div>
    <div class="cover-type">Audio</div>
  </div>
  <div class="summary">
    <h2 class="title"><a href="http://onesearch.library.nd.edu/primo_library/libweb/action/dlDisplay.do?bulkSize=10&amp;institution=NDU&amp;loc=local%2Cscope%3A%28ndulawrestricted%29%2Cscope%3A%28dtlrestricted%29%2Cscope%3A%28NDU%29%2Cscope%3A%28NDLAW%29%2Cscope%3A%28ndu_digitool%29&amp;onCampus=true&amp;query=any%2Ccontains%2Cstoppard&amp;search_scope=nd_campus&amp;tab=nd_campus&amp;vid=NDU&amp;vl%28freeText0%29=stoppard&amp;highlight=true&amp;displayField=title&amp;displayField=creator&amp;docId=ndu_aleph002845149&amp;indx=6">Arcadia</a></h2>
    <h3 class="author">Tom Stoppard author. Kate Burton performer. Mark Capri 1951- performer. Jennifer Dundas Lowe performer. Gregory Itzin performer. David Manis 1959- performer. Christopher Neame performer. Peter Paige 1968- performer. Darren Richardson performer. Kate Steele performer. Serena Scott Thomas performer. Douglas Weston performer. John Rubinstein 1946- director.</h3>
    <p class="details"></p>
    <p class="publisher">Los Angeles, Calif. : L.A. Theatre Works 2009</p>
    <p class="availability">
      <span class="availability-library"></span>
      <span class="availability-text available">Online access available</span>
      <span class="availability-link"><a href="http://proxy.library.nd.edu/login?url=http://www.aspresolver.com/aspresolver.asp?RADR;895392" target="_blank">Access Online</a></span>
    </p>
  </div>
</div><div class="record record-book" id="catalogSearchContainer-ndu_aleph001601271">
  <div class="cover">
    <div class="cover-image thumbnail"><img src="http://bks1.books.google.com/books?id=k7pzQgAACAAJ&amp;printsec=frontcover&amp;img=1&amp;zoom=5"></div>
    <div class="cover-type">Book</div>
  </div>
  <div class="summary">
    <h2 class="title"><a href="http://onesearch.library.nd.edu/primo_library/libweb/action/dlDisplay.do?bulkSize=10&amp;institution=NDU&amp;loc=local%2Cscope%3A%28ndulawrestricted%29%2Cscope%3A%28dtlrestricted%29%2Cscope%3A%28NDU%29%2Cscope%3A%28NDLAW%29%2Cscope%3A%28ndu_digitool%29&amp;onCampus=true&amp;query=any%2Ccontains%2Cstoppard&amp;search_scope=nd_campus&amp;tab=nd_campus&amp;vid=NDU&amp;vl%28freeText0%29=stoppard&amp;highlight=true&amp;displayField=title&amp;displayField=creator&amp;docId=ndu_aleph001601271&amp;indx=7">Plays three</a></h2>
    <h3 class="author">Tom Stoppard</h3>
    <p class="details"></p>
    <p class="publisher">London : Faber and Faber 1998</p>
    <p class="availability">
      <span class="availability-library">Notre Dame, Hesburgh Library General Collection (PR 6069 .T6 T48 1998 )</span>
      <span class="availability-text available">Available</span>
      <span class="availability-link"></span>
    </p>
  </div>
</div><div class="record record-book" id="catalogSearchContainer-ndu_aleph002983632">
  <div class="cover">
    <div class="cover-image thumbnail"><img src="http://bks3.books.google.com/books?id=sow2bwAACAAJ&amp;printsec=frontcover&amp;img=1&amp;zoom=5"></div>
    <div class="cover-type">Book</div>
  </div>
  <div class="summary">
    <h2 class="title"><a href="http://onesearch.library.nd.edu/primo_library/libweb/action/dlDisplay.do?bulkSize=10&amp;institution=NDU&amp;loc=local%2Cscope%3A%28ndulawrestricted%29%2Cscope%3A%28dtlrestricted%29%2Cscope%3A%28NDU%29%2Cscope%3A%28NDLAW%29%2Cscope%3A%28ndu_digitool%29&amp;onCampus=true&amp;query=any%2Ccontains%2Cstoppard&amp;search_scope=nd_campus&amp;tab=nd_campus&amp;vid=NDU&amp;vl%28freeText0%29=stoppard&amp;highlight=true&amp;displayField=title&amp;displayField=creator&amp;docId=ndu_aleph002983632&amp;indx=8">Tom Stoppard : a bibliographical history</a></h2>
    <h3 class="author">William Baker 1944- Gerald N Wachs</h3>
    <p class="details"></p>
    <p class="publisher">London : British Library ; New Castle, DE : Oak Knoll Press 2010</p>
    <p class="availability">
      <span class="availability-library">Notre Dame, Hesburgh Library General Collection (PR 6069 .T6 Z545 2010 )</span>
      <span class="availability-text available">Available</span>
      <span class="availability-link"></span>
    </p>
  </div>
</div><div class="record record-audio" id="catalogSearchContainer-ndu_aleph000469200">
  <div class="cover">
    <div class="cover-image thumbnail"></div>
    <div class="cover-type">Audio</div>
  </div>
  <div class="summary">
    <h2 class="title"><a href="http://onesearch.library.nd.edu/primo_library/libweb/action/dlDisplay.do?bulkSize=10&amp;institution=NDU&amp;loc=local%2Cscope%3A%28ndulawrestricted%29%2Cscope%3A%28dtlrestricted%29%2Cscope%3A%28NDU%29%2Cscope%3A%28NDLAW%29%2Cscope%3A%28ndu_digitool%29&amp;onCampus=true&amp;query=any%2Ccontains%2Cstoppard&amp;search_scope=nd_campus&amp;tab=nd_campus&amp;vid=NDU&amp;vl%28freeText0%29=stoppard&amp;highlight=true&amp;displayField=title&amp;displayField=creator&amp;docId=ndu_aleph000469200&amp;indx=9">Every good boy deserves favour a play for actors and orchestra</a></h2>
    <h3 class="author">Tom Stoppard André Previn 1929- [Conductor] London Symphony Orchestra</h3>
    <p class="details"></p>
    <p class="publisher">New York : RCA c1978</p>
    <p class="availability">
      <span class="availability-library">Notre Dame, Hesburgh Library Audio Center&nbsp;Record (R 07585 )</span>
      <span class="availability-text available">Available</span>
      <span class="availability-link"></span>
    </p>
  </div>
</div><div class="record record-book" id="catalogSearchContainer-ndu_aleph001957101">
  <div class="cover">
    <div class="cover-image thumbnail"><img src="http://bks9.books.google.com/books?id=Y7d1rk4M13UC&amp;printsec=frontcover&amp;img=1&amp;zoom=5&amp;edge=curl"></div>
    <div class="cover-type">Book</div>
  </div>
  <div class="summary">
    <h2 class="title"><a href="http://onesearch.library.nd.edu/primo_library/libweb/action/dlDisplay.do?bulkSize=10&amp;institution=NDU&amp;loc=local%2Cscope%3A%28ndulawrestricted%29%2Cscope%3A%28dtlrestricted%29%2Cscope%3A%28NDU%29%2Cscope%3A%28NDLAW%29%2Cscope%3A%28ndu_digitool%29&amp;onCampus=true&amp;query=any%2Ccontains%2Cstoppard&amp;search_scope=nd_campus&amp;tab=nd_campus&amp;vid=NDU&amp;vl%28freeText0%29=stoppard&amp;highlight=true&amp;displayField=title&amp;displayField=creator&amp;docId=ndu_aleph001957101&amp;indx=10">The coast of Utopia</a></h2>
    <h3 class="author">Tom Stoppard</h3>
    <p class="details"></p>
    <p class="publisher">New York, NY : Grove Press 2003, c2002</p>
    <p class="availability">
      <span class="availability-library">Notre Dame, Hesburgh Library General Collection (PR 6069 .T6 C63 2003 )</span>
      <span class="availability-text available">Available</span>
      <span class="availability-link"></span>
    </p>
  </div>
</div></div>
    <p class="more"><a class="search-link" href="http://onesearch.library.nd.edu/primo_library/libweb/action/dlSearch.do?bulkSize=10&amp;institution=NDU&amp;loc=local%2Cscope%3A%28ndulawrestricted%29%2Cscope%3A%28dtlrestricted%29%2Cscope%3A%28NDU%29%2Cscope%3A%28NDLAW%29%2Cscope%3A%28ndu_digitool%29&amp;onCampus=true&amp;query=any%2Ccontains%2Cstoppard&amp;search_scope=nd_campus&amp;tab=nd_campus&amp;vid=NDU&amp;vl%28freeText0%29=stoppard&amp;highlight=true&amp;displayField=title&amp;displayField=creator&amp;indx=1">See all results &gt;</a></p>
  </fieldset>
</div>

</div>
