<!DOCTYPE html>
<html>
<head>
  <title>HesburghAssets</title>
  <%= stylesheet_link_tag    "hesburgh_assets/application", :media => "all" %>
  <%= javascript_include_tag "hesburgh_assets/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
