/* NAVIGATION FUNCTIONALITY */

.amcath .amcath>ul {
	display:block;
}

.fine_print .fine_print>ul {
	display:block;
}

.irish  .irish>ul {
	display:block;
}

.irish-ep  .irish-ep>ul {
	display:block;
}

.irish-hist  .irish-hist>ul {
	display:block;
}

.itlit  .itlit>ul {
	display:block;
}

.latam  .latam>ul {
	display:block;
}

.latam-sch  .latam-sch>ul {
	display:block;
}

.latam-scl  .latam-scl>ul {
	display:block;
}

.med_ren  .med_ren>ul {
	display:block;
}

.mod_euro  .mod_euro>ul {
	display:block;
}

.numis  .numis>ul {
	display:block;
}

.REE  .REE>ul {
	display:block;
}

.science  .science>ul {
	display:block;
}

.sports  .sports>ul {
	display:block;
}

.theo  .theo>ul {
	display:block;
}

.ushist  .ushist>ul {
	display:block;
}

.ushist-bp  .ushist-bp>ul {
	display:block;
}

.ushist-mss  .ushist-mss>ul {
	display:block;
}

.ushist-maps  .ushist-maps>ul {
	display:block;
}

.ushist-news  .ushist-news>ul {
	display:block;
}

.heraldry  .heraldry>ul {
	display:block;
}

.heraldry-b  .heraldry-b>ul {
	display:block;
}

.find_mss  .find_mss>ul {
	display:block;
}

.digiproj .digiproj>ul {
	display:block;
}

.digexh  .digexh>ul {
	display:block;
}

.ss  .ss>ul {
	display:block;
}
