/* CSS for Rome Koha OPAC */

@font-face {font-family:GPC; font-weight:300; font-style:normal;
  src:url('https://www.nd.edu/assets/fonts/GalaxiePolarisCondensed-Book.min.eot');
  src:url('https://www.nd.edu/assets/fonts/GalaxiePolarisCondensed-Book.min.eot?iefix') format('embedded-opentype'),
      url('https://www.nd.edu/assets/fonts/GalaxiePolarisCondensed-Book.min.woff') format('woff'),
      url('https://www.nd.edu/assets/fonts/GalaxiePolarisCondensed-Book.min.ttf') format('truetype');
}
@font-face {font-family:GPC; font-weight:400; font-style:normal;
  src:url('https://www.nd.edu/assets/fonts/GalaxiePolarisCondensed-Medium.min.eot');
  src:url('https://www.nd.edu/assets/fonts/GalaxiePolarisCondensed-Medium.min.eot?iefix') format('embedded-opentype'),
      url('https://www.nd.edu/assets/fonts/GalaxiePolarisCondensed-Medium.min.woff') format('woff'),
      url('https://www.nd.edu/assets/fonts/GalaxiePolarisCondensed-Medium.min.ttf') format('truetype');
}

#wrap {
  background-color: rgb(244,244,244);
}

.navbar, .navbar-inverse .navbar-inner {
    border-bottom: 1px solid #001227;
    background:#002b5b url(images/texture-checkers-lightblue50.png) 0 0 repeat;
    background:-webkit-linear-gradient(top, #003b7c 0%, #001227 100%);
    background: -moz-linear-gradient(top, #003b7c 0%, #001227 100%);
    background:      linear-gradient(top, #003b7c 0%, #001227 100%);
    -webkit-box-shadow:0 1px #007ad9 inset, 0 -12px 3px -10px rgba(0,0,0,0.4) inset;
       -moz-box-shadow:0 1px #007ad9 inset, 0 -12px 3px -10px rgba(0,0,0,0.4) inset;
            box-shadow:0 1px #007ad9 inset, 0 -12px 3px -10px rgba(0,0,0,0.4) inset;
 }

#logo {
  background: url("dept-nd-white.png") no-repeat scroll 0 center transparent;
  width: 310px;
}

#logo a {
  width: 310px;
  visibility: hidden;
}

#header-region > .container-fluid {
  background: #dcb439 url(texture-gold.png) 0 0 repeat;
  background: -webkit-linear-gradient(top, rgba(247,234,179,0.8) 0%, rgba(247,234,179,0.3) 50%, rgba(247,234,179,0.2) 51%, rgba(247,234,179,0) 100%), url(texture-gold.png);
  background:    -moz-linear-gradient(top, rgba(247,234,179,0.8) 0%, rgba(247,234,179,0.3) 50%, rgba(247,234,179,0.2) 51%, rgba(247,234,179,0) 100%), url(texture-gold.png);
  background:         linear-gradient(top, rgba(247,234,179,0.8) 0%, rgba(247,234,179,0.3) 50%, rgba(247,234,179,0.2) 51%, rgba(247,234,179,0) 100%), url(texture-gold.png);
  filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#efda93', endColorstr='#d9ad38');
  -webkit-box-shadow:0 1px #fff inset, 0 -5px 5px -4px rgba(120,0,100,0.8) inset, 0 1px 5px rgba(0,0,0,0.3);
     -moz-box-shadow:0 1px #fff inset, 0 -5px 5px -4px rgba(120,0,100,0.8) inset, 0 1px 5px rgba(0,0,0,0.3);
          box-shadow:0 1px #fff inset, 0 -5px 6px -4px rgba(120,0,100,0.8) inset, 0 1px 5px rgba(0,0,0,0.3);
  border-bottom: 1px solid #5e4724;
}

#opacnav ul {
}

#opacnav li, #opacnav lh {
  line-height: 1;
  padding-bottom: .6ex;
  list-style: outside none; 
  text-indent: -1em;
}

#opacheader {
  background-color: transparent;
  font-family: GPC,"Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
  float: left;
  font-size: 2.5em;
  margin: 0;
  padding: 0 0 0 20px;
  width: auto;
  font-weight: 300;
  line-height: 1.75em;
  text-align: left;
  text-shadow: 0 1px rgba(255, 255, 255, 0.7);
}

#opacheader a {
  color: #002b5b;
  text-decoration: none;
}

.breadcrumb {
  background-color: rgb(244,244,244);
}

#daily-quote {
  border: 1px solid grey;
  border-radius: 1em;
  padding: 0 1em 1em;
  margin: auto;
  width: 80%;
}

#daily-quote-text {
  display: block;
  margin: 10px 0;
  font-style: italic;
  padding: 0 20px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACUAAAAcCAYAAADm63ZmAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAAAWdEVYdENyZWF0aW9uIFRpbWUAMTIvMjkvMTEsPOvqAAACPUlEQVRYha2XwXGjQBBFnyjflwwkRyBXje6WM2AjMI7A3giMMmAjMIrA2giM7kyVlYGUgRUBe6BxjaUexID+jWn687unp3uYEAhjzBLIgNhaexfqr/DNhO8ReKiqqpwMEHPvLK+stdlAMbHwPTvLh6qqZhdFeZxd3Fpr94GCEqAAfinmVXTB+Q4oPYIOwNMAQTnw7hME5N5MOYJU59Btk4xv+Ln9LbZAaq3d13XNjYcgBd4U006cPwcIKoG5Yv5jrc3dhbNMSUF/KM7/RNDXlQQdgeVpgGeZki3bKNxra20aIsbBpq+gFt+F7uz5aQ3tgJchaowxGXoNJV0l4J6+HJgq7wRvmQhaAq+KaWWtLbt8I4fgUbGvQ4vaQaGsHWmC70Sbqcxj9613Qk6vlvWiT9YjKW5t33ehjdFB5lkv+jhHQOqxaafwIiRILUv0LYUbIPHYYqm1lrDsqWvpWd+5fMDetxMTY0zd82PQzLuSpjZK7QVjTIF+aHzYCl8BTfPsHMgKpvLBDxmsGmaBnPfAmzHmU+5WwaJcPEtzvBbmwGaxWMRjRAG8ttFdCXPgZawoOD8o5Ui+NKKZbWOwPHkOHkknmEaMjyw+eR7LR8TAJungR2akQR7GEEbSb7YjOLSgshF8u0sD+RKOKKKkEQ6t1SwSkhJ4GkCQdEz9hEZ0CNZVVW2+W4JE97sn0RF46JqHMtdm9C+Nv+2VW/txiGluDgnnV5oDzfUjD7mNys9nStM+3Ov2kea05m2AdV3zH8s46N/nyq1HAAAAAElFTkSuQmCC) left top no-repeat, url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACUAAAAcCAYAAADm63ZmAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAAAWdEVYdENyZWF0aW9uIFRpbWUAMTIvMjkvMTEsPOvqAAACYElEQVRYha2XsXXbMBCGPzHqrbRsrA3kvFNvbhBuEHqCKBOE3kDq0pnewGW6iL3wIm8gVmytCZiCoB5EASRI5jrhhJ/fAbgDboZhIhIBGyAC7gzXGdgDmVLqDU8TkYXWS4D7ljsH3rTmRzNYVRUzQ2ALfPf4Vg7EppADKNIfvev6H3XASRPsBUpEMuCbB5Ap9KCUOnUA/RmgB/CklMqqqiIQkXggENTRW7dRb5n3Fhv2ooMhANIRAgArEUks4zH9W+ayFGqo1UiBi0jL4gl6j+v1OgomCADci8hDa2wxUTOeCgV1+TCtMyt99AKgmCjSXpn9RL1VAGQTRaLW7zGZd2UBsAXepwo1pmvX8xSNQFfmmP8LlgK7sfM/AZRl+VGW5a8wDAvgM7AcoJGXZXmzZWVZ/g7DMAdmWtM7K2cuh4gsW3Bb7DXth1Jq6/OxpmJri7HftYUTyiJYOVxflFJHXx1DLwV+Wlw7rzplKZCNFWOAtLkqf+ZbPBPHeDoYhcvRsB2F/HA4HHuh9K1vgyqUUtkYKNzBpFDXqT7bYL/1kzE0+ijYnkqvSql9L5TOFtthfG4EBgItsN8gBXXwdELpiGxXRq6L4xizlZUzref1vANoz+22vTPivWSs0FeLO25n8M1KicgG+OsAivoaBoteE6AN6Ml2DC4rpdM0Ax4tk706GAtQiv1MnqkDtNa4udGb2SYD7JRSG4fPBZNQp3e714N6xZOuojvvALrqxwYALYEXh3sHpH0r3vR9J66j8prcAZZyHWiu9fZ9c81mNKJuHl/15NMYmBbYkfq97gVjQv0DWHLnnKSEQsgAAAAASUVORK5CYII=)right bottom no-repeat;
  background-size: 15px 12px;
}

#daily-quote-sep {
  display: none;
}

#daily-quote-source {
  margin-top: .6ex;
  display: block;
  text-align: right;
  font-weight: bold;
}

#opacmainuserblock blockquote p {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

#opacresultssidebar p.rome {
  font-size: 80%;
  line-height: 1.1;
}

#opaccredits {
  padding-bottom: 60px;
  background: url("https://international.nd.edu/images/marks/blue/ndmark300.png") no-repeat scroll right 20px bottom 5px / auto 40px;
}

#rome_footer {
  color: rgb(30,30,30);
  font-size: 95%;
  line-height: 116%;
  margin-top: 10px;
  padding: 0.5em 0;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
  border: 1px solid #d2d2cf;
  border-radius: 7px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width:0) and (max-width:600px) {
#opacheader {
  font-size: 1.75em;
  margin: 0;
  padding: 0 0 0 20px;
  line-height: 2em;
  text-shadow: 0 1px rgba(255, 255, 255, 0.7);
  }

}

@media only screen and (min-width:0) and (max-width:400px) {
#logo {
  display: none;
  }

#opacheader {
  font-size: 1em;
  font-weight: 500;
  margin: 0;
  padding: 0 0 0 20px;
  line-height: 1.5em;
  text-shadow: none;
  }

}
